.container {
	margin: 0;
	max-width: 100vw;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	min-height: 94vh;
	align-items: center;
}

.content {
	flex-grow: 1;
}

.index {
	display: flex;
	margin: 0;
}

h1,
h2,
h3 {
	font-family: 'Inter', sans-serif;
}

$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-mobile) {
	.container {
		padding: 0.25rem;
		margin-top: 5rem;
	}
}
