.teamCard {
	width: 100%;
	background: rgb(147, 160, 172);
	display: flex;
	margin: 0.5rem;

	align-items: center;

	* {
		margin: 1rem;
	}
}

.logo {
	max-height: 7rem;
}

// $breakpoint-mobile: 480px;
// @media (max-width: $breakpoint-mobile) {
// 	.teamHeader {
// 		background: red;
// 		max-width: 80vw;
// 		display: flex;
// 		flex-direction: column;
// 	}
// }
