.teamCard {
	width: 100%;
	background: rgb(65, 65, 65);
	border: solid 3px white;
	padding-left: 15px;
	display: flex;
	margin: 0.5rem;

	align-items: center;

	* {
		margin: 1rem;
	}
}

.logo {
	max-height: 7rem;
}
