.header {
	background: rgb(0, 110, 255);
	height: 6vh;
	display: flex;
	align-items: center;

	nav {
		height: 100%;

		ul {
			height: 100%;
		}
	}
}

.title {
	color: #000000;
	font-size: 3rem;
	text-decoration: none;
}

.nav-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	align-items: center;

	li {
		margin-bottom: 0;
		height: 100%;
	}

	li:hover {
		background: rgb(62, 146, 255);
	}
}

.nav-item {
	color: #f1f1f1;
	font-size: .9rem;
	margin: auto 1rem;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.active-nav-item {
	border-bottom: .2rem solid rgb(255, 0, 76);
}
