.nav-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;

	li {
		margin: 2rem 0;
	}
}

.nav-item {
	color: #f1f1f1;
	font-size: 1.2rem;
	margin: auto 1rem;
	text-decoration: none;
	display: flex;
	outline: none;
}

i {
	margin-right: 0.8rem;
}

.active-nav-item {
	border-bottom: .2rem solid #17b978;
}

.navDrawer {
	background: rgb(81, 89, 97);
	min-height: 100vh;
	width: 14rem;
}
