// .header {
// 	background: #2d4059;
// 	height: 6vh;
// 	display: flex;
// 	align-items: center;

// 	nav {
// 		height: 100%;

// 		ul {
// 			height: 100%;
// 		}
// 	}
// }

// .title {
// 	color: #000000;
// 	font-size: 3rem;
// 	text-decoration: none;
// }

.nav-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;

	li {
		margin: 2rem 0;
	}
}

.nav-item {
	color: #f1f1f1;
	font-size: 1.2rem;
	margin: auto 1rem;
	text-decoration: none;
	display: flex;
	outline: none;
}

i {
	margin-right: 0.8rem;
}

.active-nav-item {
	border-bottom: .2rem solid #17b978;
}

.navDrawer {
	background: rgba(45, 64, 89, 0.5);
}

// $breakpoint-mobile: 480px;
// @media (max-width: $breakpoint-mobile) {
// 	.header {
// 		height: 40%;

// 		li {
// 			align-items: center;
// 			justify-content: center;
// 			padding: 0.3rem;
// 		}
// 	}

// 	nav {
// 		width: 100%;
// 		height: 100%;

// 		ul {
// 			height: 100%;
// 		}
// 	}

// 	.nav-list {
// 		display: flex;
// 		flex-direction: column;
// 	}
// }
